@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html,
body {
  margin: 0px;
  height: 100%;
}

/* a blue color as a generic focus style */
button:focus-visible {
  outline: 2px solid #006380 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}

a {
  text-decoration: none;
}

.bg-blue {
  background-color: #006380;
}


/* Button Css */

.hover-btn {
  margin-top: 20px;
  position: relative;
  display: inline-flex;
  align-items: center;
  gap: 12px;
  padding: 8px 18px 8px 16px;
  border-radius: 999px;
  border: 2px solid #006380 !important;
  font-family: system-ui, sans-serif;
  font-size: 16px;
  font-weight: 500;
  border: none;
  cursor: pointer;
  color: #fff;
  background: #006380;
  /* initial pill color */
  overflow: hidden;
  z-index: 0;
}

/* background fill animation */
.hover-btn::before {
  content: "";
  position: absolute;
  inset: 0;
  background: #fff;
  border-radius: inherit;
  transform: scaleX(0);
  transform-origin: right center;
  transition: transform .35s ease;
  z-index: -1;
}

.hover-btn:hover::before {
  transform: scaleX(1);
}

.hover-btn span {
  position: relative;
  z-index: 1;
  transition: color .35s ease;
}

.hover-btn__icon {
  position: relative;
  display: grid;
  place-items: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: #fff;
  color: #006380;
  transition: background .35s ease, color .35s ease, transform .35s ease;
  z-index: 1;
}

.hover-btn:hover span {
  color: #006380;
}

.hover-btn:hover .hover-btn__icon {
  background: #006380;
  color: #fff;
  transform: translateX(2px) rotate(-35deg);
}

.hover-svg {
  width: 18px;
  height: 18px;
  stroke: currentColor;
  stroke-width: 2.4;
  fill: none;
}

/* Button Css */

body .container {
  max-width: 100%;
  width: 97%;
}

/* section css */

.section-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  font-size: 38px;
  vertical-align: middle;
  color: #016481;
  margin-bottom: 25px;
}

.section-para {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 18px;
  vertical-align: middle;
  color: #757577;
  line-height: 1.4;
  margin-bottom: 10px;
}

/* section css */


/* Scroll animation style */

/* Scroll animation style */

